button

.add-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-button:hover {
    background-color: #218838;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.load-more-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.load-more-button:hover {
    background-color: #ff8f00;
}







/* ยังไม่ได้ใช้ */


p {
    display: -webkit-box;
    /* ใช้ Flexbox */
    -webkit-line-clamp: 3;
    /* จำกัดข้อความไม่เกิน 3 บรรทัด */
    -webkit-box-orient: vertical;
    /* ตั้งค่าให้เรียงข้อความในแนวตั้ง */
    overflow: hidden;
    /* ซ่อนข้อความที่ล้น */
    text-overflow: ellipsis;
    /* แสดง ... ที่ข้อความล้น */
}

.kk {
    white-space: normal;
    /* อนุญาตให้ข้อความขึ้นบรรทัดใหม่ */
    word-wrap: break-word;
    /* ตัดคำเมื่อข้อความยาวเกิน */
    word-break: break-word;
    /* ตัดข้อความเมื่อไม่มีจุดเว้นวรรค */
}

h3 {

    white-space: nowrap;
    /* ป้องกันการขึ้นบรรทัดใหม่ */
    overflow: hidden;
    /* ซ่อนข้อความที่ล้นกรอบ */
    text-overflow: ellipsis;
    /* แสดง ... เมื่อข้อความล้น */
    /* width: 200px; */
    /* กำหนดความกว้าง */

}